<!doctype html>
<html lang="en">
<% include ./head.ejs %>

<body>
  <% include ./nav.ejs %>
  <div class="container-fluid" style="margin-top: 30px">
    <div class="row">
      <div class="col-1">
        BET-history
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col">
            GAME-AREA
          </div>
          <div class="w-100"></div>
          <div class="col">select-area</div>
          <div class="col">money-area</div>
        </div>
      </div>
      <div class="col-3">






        <div class="chat_container">
          <div class="col-sm-12 message_section">
            <div class="row">
              <div class="chat_area" id="chat_area">
                <ul class="list-unstyled" id="chat-list">
                  <% for (var chat of chats) { %>
                  <li class="left clearfix" style="margin-bottom:5px;">
                    <% if (chat.user == user) { %>
                    <h6 class="float-right"><%= chat.user %></h6>
                    <div class="float-right chat-body2 clearfix">
                      <p><%= chat.chat %></p>
                      <div class="chat_time float-left"><%= chat.time %></div>
                    </div>
                    <% } else if (chat.user == 'system') { %>
                    <div class="chat-body-sytem">
                      <p align="center"><%= chat.chat %></p>
                      <div>
                        <% } else { %>
                        <h6 class="float-left"><%= chat.user %></h6>
                        <div class="float-left chat-body1 clearfix">
                          <p><%= chat.chat %></p>
                          <div class="chat_time float-left"><%= chat.time %></div>
                        </div>
                        <% } %>
                  </li>
                  <% } %>
                </ul>

              </div>
              <!--chat_area-->
              <div class="message_write" style="margin-bottom: 0px">
                <form action="/game" id="chat-form" method="post" enctype="multipart/form-date">
                  <input name="chat" type="text" class="form-control" placeholder="메세지를 적으세요"/>
                  <div class="clearfix"></div>
                  <div class="chat_bottom">
                    <button type="submit" class="float-right btn btn-success" value="전송" >전송</button>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>





      </div>

    </div>
  </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
  function scrollAlwaysDown () {
    var messageBody = document.querySelector('#chat_area');
    messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
  }
  var socket = io.connect("http://localhost:3000/game", {
    path: '/socket.io'
  });
  var user = "<%= user %>"
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('reply', "HELLO NODE JS");
  })

  socket.on('join', function (data) {
    console.log(data.chat);
    var ul = document.getElementById("chat-list");
    var li = document.createElement("li");
    li.className = "left clearfix"
    li.style = "margin-bottom:5px;"

    var div = document.createElement("div");
    div.className = "chat-body-sytem"
    var p = document.createElement("p");
    p.align = "center";
    p.textContent = data.chat
    div.appendChild(p);
    li.appendChild(div);
    ul.appendChild(li);
    scrollAlwaysDown();
  })
  socket.on('exit', function (data) {
    console.log(data);
    var ul = document.getElementById("chat-list");
    var li = document.createElement("li");
    li.className = "left clearfix"
    li.style = "margin-bottom:5px;"

    var div = document.createElement("div");
    div.className = "chat-body-sytem"
    var p = document.createElement("p");
    p.align = "center";
    p.textContent = data.chat
    div.appendChild(p);
    li.appendChild(div);
    ul.appendChild(li);
    scrollAlwaysDown();
  });
  socket.on('chat',function(data) {
    var ul = document.getElementById("chat-list");
    var li = document.createElement("li");
    li.className = "left clearfix"
    li.style = "margin-bottom:5px;"                        
    var h6_nick = document.createElement("h6");
    var div_chat = document.createElement("div");
    var p_chat = document.createElement("p");
    var div_time = document.createElement("div");
    if (data.nick == user ){
      h6_nick.style = "text-align: right;"
      div_chat.className = "float-right chat-body2 clearfix"
      div_time.className = "chat_time float-right"
    }else{
      h6_nick.style = "text-align: left;"
      div_chat.className = "float-left chat-body1 clearfix"
      div_time.className = "chat_time float-left"      
    }
    h6_nick.textContent = data.nick
    p_chat.textContent = data.chat
    var timenowString = new Date().toLocaleTimeString();
    div_time.textContent = timenowString
    div_chat.appendChild(p_chat);
    div_chat.appendChild(div_time);
    li.appendChild(h6_nick);
    li.appendChild(div_chat);
    ul.appendChild(li);
    scrollAlwaysDown()
  });
  document.querySelector("#chat-form").addEventListener('submit',function (e) {
    e.preventDefault();
    if (e.target.chat.value){
      var xhr = new XMLHttpRequest();
      xhr.onload = function () {
        if (xhr.status === 200) {
          e.target.chat.value = '';
        }else{
          console.error(xhr.responseText);
        }
      }
      xhr.open('POST','/game/chat');
      xhr.setRequestHeader('Content-Type','application/json');
      xhr.send(JSON.stringify({chat:this.chat.value}))
    }

  });
</script>

</html>